@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lekton:ital,wght@0,400;0,700;1,400&family=Poppins:ital,wght@0,400;0,700;1,400&display=swap');

.front-wrapper {
    height: 100vh;
    display: grid;
    grid-template-areas: "hero";
}

.front-content-wrapper {
    grid-area: hero;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.background-img {
    grid-area: hero;
    object-fit: cover;
    width: 100%;
    height: 50vh;
    z-index: -1;
}

.front-texts {
    align-self: center;
    justify-self: end;
    width: 37vw;
}

.preview-img {
    justify-self: center;
    align-self: center;
    border-radius: 1%;
    height: 88vh;
}

.front-title {
    background-image: linear-gradient(60deg, #C87C00, #8B3208, #53200F, #010420);
    background-clip: text;
    color: transparent;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.front-description {
    color: #425466;
}
